<section class="jobs" id="job_page">
	<div class="vh-100 d-flex align-items-center justify-content-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h5 class="text-center text-white text-uppercase fw-bold fs-2">Find a Course</h5>
				</div>
			</div>
		<div class="row">
			<div class="row">
			<div class="col-md-12 mx-auto mt-5">
				<p class="tetxt-center text-white">
					Positioned prominently below the Find a Coyrse feature simplifies your job search. It provides quick access to a multitude of job listings, tailored to your preferences, and connects you with your dream career opportunities effortlessly. Begin your journey towards professional fulfillment today with a single click.
				</p>
				<div class="text-center mt-3">
					<button class="btn btn-primary text-uppercase" type="button"><a href="/course" class="text-white text-decoration-none">View Courses</a></button>
				</div>
			</div>
			
		</div>
		</div>
	</div>
	</div>
</section>